doctype html
html(lang="en")
  head
    title Express and Pug Example
    link(rel="stylesheet", href="/style.css")

  body
    div.container
      h1 Pug and Ejs test!
      div
        h2
          a(href="/users") users
      div
        h2
          a(href="/articles") articles